html {
    height: 100%;
}

body {
    height: 100%;
    font: 14px/18px 'Times New Roman', Times, sans-serif;
    background: #FFF;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

ol, li {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
}

#header {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 0;
}

.logo {
    float: left;
}

.nav {
    float: right;
    padding-top: 5px;
}

.nav li {
    float: left;
    margin-right: 40px;
}

.nav li:last-child {
    margin-right: 0;
}

.nav li a:hover {
    color: #fed136;
}

.nav a {
    text-transform: uppercase;
    font: 14px Arial, sans-serif;
    color: white;
}

#home {
    max-height: 700px;
    padding-top: 270px;
    text-align: center;
    color: white;
    background: #222 url(../img/homebg.jpg) no-repeat center bottom;
    background-size: cover;
}

#home h3 {
    font: 40px/40px Arial, sans-serif;
    margin-bottom: 40px;
}

#home h1 {
    text-transform: uppercase;
    font: 75px/75px Arial, sans-serif;
    margin-bottom: 50px;
}

.btn {
    text-transform: uppercase;
    display: inline-block;
    font: bold 24px/24px Arial, sans-serif;
    text-align: center;
    background: #fed136;
    padding: 20px 30px;
    cursor: pointer;
    margin-bottom: 161px;
    color: white;
    border: none;
    border-radius: 4px;
}

.btn:hover {
    background: #e0ba36;
    color: white;
}

#services {
    max-height: 556px;
    text-align: center;
    padding-top: 108px;
}

.services-wrap, .portfolio-wrap, .about-wrap, .team-item, #message {
    margin-top: 70px;
}

h1.title {
    color: black;
    text-transform: uppercase;
    font: bold 40px/40px Arial, sans-serif;
    margin-bottom: 10px;
}

h5.descr {
    font: 16px/16px "Times New Roman";
    color: #777;
    margin-top: 10px;
}

h5.title {
    color: black;
    text-transform: uppercase;
    font: bold 18px/18px Arial, sans-serif;
    padding-bottom: 10px;
}

.box {
    padding: 120px 0;
}

.services-item {
    float: left;
    width: 33.33%;
    padding-top: 90px;
}

.services-item p {
    font-size: 18px;
    color: #777;
    line-height: 24px;
}

.commerce {
    background: url(../img/Commerce.png) no-repeat center top;
}

.responsive {
    background: url(../img/responsive.png) no-repeat center top;
}

.security {
    background: url(../img/security.png) no-repeat center top;
}

#portfolio {
    text-align: center;
    background: #f7f7f7;
}

.portfolio-item {
    float: left;
    width: 31%;
    margin-right: 3.5%;
    margin-bottom: 50px;
    background-color: white;
}

.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-item:nth-last-child(1), .portfolio-item:nth-last-child(2), .portfolio-item:nth-last-child(3) {
    margin-bottom: 0;
}

.p-item-footer {
    padding: 25px 20px;
}

.p-item-footer span {
    font-size: 14px;
    color: #737373;
}

.p-item-footer h5.title {
    margin-bottom: 4px;
}

#about {
    text-align: center;
    background-color: white;
}

.about-text {
    width: 35%;
}

.about-img {
    width: 30%;
}

.about-img:after {
    content: '';
    display: block;
    height: 94px;
    width: 3px;
    margin: 0 auto;
    background: #f1f1f1;
}

.about-text h5 {
    line-height: 24px;
}

.about-text h5 span {
    text-transform: uppercase;
}

.about-text p {
    font-size: 16px;
    line-height: 24px;
    color: #777;
}

.about-img img, .about-link {
    display: inline-block;
    height: 177px;
    width: 177px;
    border: 7px solid #f1f1f1;
    border-radius: 50%;
}

.about-link {
    padding-top: 30px;
    text-transform: uppercase;
    color: white;
    font: bold 18px/30px Arial, sans-serif;
    background: #fed136;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

#team {
    text-align: center;
    background-color: #f9f9f9;
}

.team-item {
    float: left;
    width: 33.33%;
    padding: 0 10px;
}

.team-item img {
    border: 7px solid #fff;
    border-radius: 50%;
    margin-bottom: 15px;
}

.cat {
    font: 14px/14px Arial, sans-serif;
    color: #777;
}

.social {
    margin-top: 10px;
}

.social a {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 3px;
    border-radius: 50%;
    border: 3px solid #222;
    margin-bottom: 55px;
    background: url(../img/social-sprite.png) no-repeat;
}
.social a.black{
  background-color: #222;
}

.social a.ic-tw {
    background-position: 0 0;
}

.social a.ic-tw:hover {
    border-color: #00aced;
    background-color: #00aced;
    background-position: 0 -40px;
}
.social a.ic-tw.black{
  background-position: 0 -40px;
}
.social a.ic-fb {
    background-position: -40px 0;
}

.social a.ic-fb:hover {
    border-color: #3b5998;
    background-color: #3b5998;
    background-position: -40px -40px;
}
.social a.ic-fb.black{
  background-position: -40px -40px;
}

.social a.ic-gp {
    background-position: -120px 0;
}

.social a.ic-gp:hover {
    border-color: #d95232;
    background-color: #d95232;
    background-position: -120px -40px;
}
.social a.ic-gp.black{
  background-position: -120px -40px;
}

.social a.ic-pn {
    background-position: -80px 0;
}

.social a.ic-pn:hover {
    border-color: #cb2028;
    background-color: #cb2028;
    background-position: -80px -40px;
}
.social a.ic-pn.black{
  background-position: -80px -40px;
}

#brand {
    margin: 60px 0;
    text-align: center;
}

#brand a {
    display: inline-block;
    margin-right: 40px;
}

#brand img {
    vertical-align: middle;
}

#contact {
    text-align: center;
    background: #222 url(../img/maps.png) no-repeat right bottom;
}

#contact h1.title {
    color: white;
}

#message .left, #message .right {
    width: 48%;
}

#message input[type="text"], #message textarea {
    background: #fff;
    border-radius: 4px;
    width: 100%;
    box-shadow: none;
    margin-bottom: 30px;
    padding: 15px 20px;
    font: bold 16px/16px Arial, sans-serif;
    color: #222;
}

#message input[type="text"] {
    height: 50px;
    border: 1px solid #ccc;
}

#message textarea {
    height: 210px;
    border: none;
    resize: none;
}

::-webkit-input-placeholder {
    font: bold 14px/14px Arial, sans-serif;
    color: #bbb;
    text-transform: uppercase;
}

::-moz-placeholder {
    font: bold 14px/14px Arial, sans-serif;
    color: #bbb;
    text-transform: uppercase;
}
#copyright{
padding: 25px 0;
}
#copyright p{
font: 14px Arial, sans-serif;
color: #555;
margin-top: 13px;
}
#copyright .social{
  margin-top: 0;
  margin-left: 365px;
  height: 50px;
}
